$width: 450px;

.main {
  max-width: $width;
  text-align: center;

  & > img {
    max-width: $width;
  }

  & > .button {
    margin-top: 30px;
  }

  .hint {
    font-size: 18px;
    font-weight: 300;
  }
}
